@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src:  local("OpenSans-Regular"), url('../fonts/open_sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src:  local("OpenSans-Italic"), url('../fonts/open_sans/OpenSans-Italic.ttf');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local("OpenSans-Bold"), url('../fonts/open_sans/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans-Light"), url('../fonts/open_sans/OpenSans-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    font-family: "Open Sans", arial, sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

.loading * {
    cursor:progress;
}

.wrapper {
    min-height: 800px;

}

body {
    font-size: 10px;
}

header, section, footer {
    display: block;
}

.container {
    width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
}

.content {
    position: absolute;
    bottom: 100px;
    top: 60px;
    left: 50%;
    margin-left: -520px;
    min-height: 700px;
}

.clearfix {
    clear: both;
}

header {
    background-color: #702ce1;
    height: 60px;
}

h1 {
    font-family: "Open Sans Light", arial, sans-serif;
    font-size: 2.2em;
    text-transform: uppercase;
    color: #fff;
    line-height: 0.8em;
    font-weight: normal;
    padding-top: 10px;
    float: left;
    padding-left: 20px;
}

h1 small {
    font-size: 0.591em;
    color: #959697;
    font-family: "Open Sans", arial, sans-serif;
    text-transform: none;
}

/* admin area */

.project-form {
    display: block;
    width: 70%;
    margin-top: 50px;
}

.authentication-form {
    width: 300px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    margin-top: -100px;
    margin-left: -150px;
    border-radius: 4px;
    background-color: #171818;
}

.authentication-form img {
    display: block;
    position: absolute;
    top: -10px;
    margin-top: -150px;
    width: 150px;
    height: 150px;
    left: 50%;
    margin-left: -75px;
}

.authentication-form h3 {
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: normal;
}

.project-form .row,
.authentication-form .row {
    padding: 10px 0;
}

.project-form .row table {
    width: 100%;
}

.project-form .row table td {
    vertical-align: top;
    width: 50%;
}

.preview-preview-img {
    display: inline-block;
    max-height: 100px;
    overflow: hidden;
    vertical-align: middle;
}

.project-form .asterisc {
    color: #ff8400;
}

.project-form input[type="text"],
.project-form select,
.project-form textarea,
.authentication-form input[type="text"],
.authentication-form input[type="password"] {
    border: solid 1px #a3a3a3;
    border-radius: 3px;
    padding: 3px 5px;
}

.project-form input[type="text"]:focus,
.project-form select:focus,
.project-form textarea:focus,
.authentication-form input[type="text"]:focus,
.authentication-form input[type="password"]:focus {
    border-color: transparent;
    box-shadow: 0 0 3px blue;
}

.project-form input[type="text"],
.authentication-form input[type="text"],
.authentication-form input[type="password"] {
    width: 100%;
}

.project-form input[type="text"].inline {
    width: 70px;
    margin-right: 10px;
}

.project-form textarea {
    width: 100%;
    min-height: 100px;
}

.project-form label {
    display: block;
    color: #333;
    font-size: 1.3em;
    margin-bottom: 3px;
}

.project-admin-list,
.project-image-list {
    list-style:none;
    display: block;
    margin-top: 50px;
}

.project-image-list {
    margin-top: 10px;
}

.project-admin-list li,
.project-image-list li {
    display: block;
    padding: 10px;
    font-size: 1.3em;
    border: solid 1px #ddd;
    border-radius: 2px;
    margin-bottom: 2px;
    background-color: #fff;
}

.project-image-list li p {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}


.project-admin-list a {
    color: #333;
    display: inline-block;
}

.project-admin-list .project-delete,
.project-image-list .image-delete {
    float: right;
    width: 20px;
    text-align: center;
    font-size: 1.2em;
}

.project-image-list .image-delete {
    margin-top: 25px;
    font-size: 3em;
    color: #a3a3a3;
    font-family: "open sans light", arial, sans-serif;
}

.project-image-list .image-thumb {
    max-height: 100px;
    overflow: hidden;
}

.project-image-list .image-description {
    border-bottom: dotted 1px #333;
    cursor: pointer;
}

.project-image-list .image-description.edit {
    border-bottom: none;
}

.button {
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 4px;
    border: none;
    color: #fff;
    text-shadow: 0 1px #333;
    background-color: #ff8400;
    cursor: pointer;
}

.button:hover {
    background-color: #a85400;
    color: #bfbdbd;
}


.upload {
    margin: 10px 0;
    display: inline-block;
}

.return {
    float: right;
    display: inline-block;
    margin-top: 10px;
}

.admin-area h1 {
    margin-top: 10px;
}

.admin-area h3 {
    font-size: 1.5em;
    margin: 20px 0 10px;
}

.gtfo {
    float: right;
    display: inline-block;
    width: 50px;
    height: 40px;
    margin-left: 20px;
    background: url("../images/user.png") no-repeat center center;
    margin-top: 10px;
    border-left: solid 1px #fff;
}

.interface {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    padding: 5px 10px;
    margin-left: 5px;
}

.small-text {
    width: 250px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    border: solid 1px #a3a3a3;
    border-radius: 3px;
    padding: 3px 5px;
}

table.files {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

table.files a {
    text-decoration: underline;
    color: #333;
}

.template-upload, .template-download {
    border: solid 1px #ddd;
    border-radius: 3px;
}

table.files td {
    text-align: center;
    padding: 5px 0;
}

.ajax-file-upload  {
    border-radius: 4px;
    border: none;
    color: #fff;
    text-shadow: 0 1px #333;
    background-color: #ff8400;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    padding: 5px 10px;
    margin-top: 10px;
}

.ajax-upload-dragdrop b {
    display: none;
}

.ajax-file-upload-statusbar {
    display: none;
}

.add {
    display: inline-block;
    margin-top: 50px;
}