/*
#702ce1 - фиолетовый фон
6928d5 - фиолетовый основной
fda061 - оранжевый
ff8d06 - оранжевый основной
*/
@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans-Light"), url('../fonts/open_sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans-Regular"), url('../fonts/open_sans/OpenSans-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    background: url("../images/back.png") no-repeat center 10px #702ce1;
    font-size: 10px;
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    min-height: 910px;
    padding-bottom: 250px;
    min-width: 700px;
}

.head {
    font-family: "open sans light", arial, sans-serif;
    color: #fff;
    font-size: 6em;
    font-weight: normal;
    margin-top: 50px;
    text-align: center;
    position: relative;
}

.regalia {
    font-family: "open sans light", arial, sans-serif;
    color: #fff;
    font-size: 3em;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

.skills {
    font-family: "open sans light", arial, sans-serif;
    color: #fff;
    font-size: 1.6em;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

.display {
    margin-top: 50px;
}

.screen {
    width: 440px;
    height: 275px;
    border: solid 1px rgba(255, 255, 255, .7);
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

.cam {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    border: solid 1px rgba(255, 255, 255, .7);
    margin: 4px auto;
}

.viewport {
    width: 400px;
    height: 240px;
    border: solid 1px rgba(255, 255, 255, .7);
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    padding-top: 20px;
}

.panel {
    width: 440px;
    height: 40px;
    border: solid 1px rgba(255, 255, 255, .7);
    border-top: none;
    border-radius: 0 0 15px 15px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: "open sans light", arial, sans-serif;
    font-size: 0.5em;
    text-align: center;
    color: #fff;
    line-height: 40px;
    z-index: 2;
    position: relative;
    background: url("../images/trinitron.png") no-repeat center center;
}

.stand {
    width: 150px;
    height: 45px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

.stand-right {
    height: 43px;
    border-left: solid 1px rgba(255, 255, 255, .7);
    border-radius: 0 0 0 25px;
    width: 20px;
    float: right;
}

.stand-left {
    height: 43px;
    border-right: solid 1px rgba(255, 255, 255, .7);
    border-radius: 0 0 25px 0;
    width: 20px;
    float: left;
}

.plate {
    clear: both;
    border: solid 1px rgba(255, 255, 255, .7);
    height: 4px;
    border-radius: 2px;
    margin-top: -2px;
}

.list {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    background: #6928d5;
}

.list-wrapper, .main-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1150px;
    padding: 0 60px;
    position: relative
}

.list-wrapper {
    height: 250px;
}

.list-controls a {
    list-style: none;
    display: block;
    width: 50px;
    height: 50px;
    border: solid 1px #a680e7;
    border-radius: 30px;
}

.list-controls li  {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 100px;

}

.list-controls-prev {
    left: 0;
}

.list-controls-prev a {
    background: url("../images/arrow.svg") no-repeat center center;
}

.list-controls-prev a:hover,
.list-controls-prev a:active,
.list-controls-next a:hover,
.list-controls-next a:active{
    background: url("../images/arrowa.svg") no-repeat center center;
    border-color: #fff;
    background-color: #fff;
    box-shadow:  0 0 40px 1px #c450bf, 0 0 20px 3px #ffb900;
}

.list-controls-next {
    right: 0;
}

.list-controls-next a {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    background: url("../images/arrow.svg") no-repeat center center;
}

.list-list {
    list-style: none;
    white-space: nowrap;
}

.list-item {
    display: inline-block;
    height: 250px;
    border-top: solid 1px transparent;
    width: 250px;
    position: relative;

}



.list-item.active {
    border-top-color: #ffb900
}

.list-item-link {
    display: table-cell;
    vertical-align: middle;
    height: 170px;
    font-family: "open sans light", arial, sans-serif;
    font-size: 1.8em;
    color: #9e80e2;
    text-decoration: none;
    white-space: normal;
    text-align: center;
    padding: 0 20px;
}

.active .list-item-link {
    color: #fff;
}

.list-item-details {
    position: absolute;
    height: 40px;
    bottom: 40px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    font-family: "open sans light", arial, sans-serif;
    line-height: 38px;
    text-align: center;
    color: #8854de;
    border: solid 1px #8854de;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.3em;
    display: none;
}

.active .list-item-details {
    display: block;
}

.list-item-details:hover,
.list-item-details:active {
    box-shadow:  0 0 40px 1px #c450bf, 0 0 20px 3px #ffb900;
    color: #ff8500;
    background-color: #fff;
    border-color: #fff;
}

.bx-wrapper .bx-viewport  {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    left: -5px;
    background: transparent;
}

.contact {
    position: absolute;
    top: 20px;
    right: 0;
}

.contact-item {
    display: inline-block;
    vertical-align: middle;
}

.contact-item a {
    display: block;
}

.icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: solid 1px transparent;

}

.contact-item a:hover .icon,
.contact-item a:active .icon {
    border-color: #fff;
    box-shadow:  0 0 40px 1px #c450bf, 0 0 20px 3px #ffb900;
}

.icon.mail {
    background: url("../images/mail.png") no-repeat center center;
}

.icon.skype {
    background: url("../images/skype.png") no-repeat center center;
}

.contact-item a:hover .icon.mail {
    background: url("../images/mail_.png") no-repeat center center #fff;
}

.contact-item a:hover .icon.skype {
    background: url("../images/skype_.png") no-repeat center center #fff;
}

.viewport-overlay {
    position: absolute;
    left: 20px;
    top: 15px;
    bottom: 20px;
    right: 20px;
    background: rgba(117,42,239,.3);
    z-index: 8;
    visibility: hidden;
}

.viewport-link {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 70px;
    left: 149px;
    top: 80px;
    z-index: 9;
    background: url("../images/link.png") no-repeat center center rgba(117,42,239,.7);
    visibility: visible;
}

.viewport-link:hover {
    background: url("../images/linka.png") no-repeat center center #fff;
    box-shadow:  0 0 40px 1px #c450bf, 0 0 20px 3px #ffb900;
}

.viewport-window {
    position: absolute;
    left: 20px;
    top: 15px;
    right: 20px;
    height: 20px;
    background: url("../images/browser.png") no-repeat center center;
    z-index: 7;

}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: none;
    background: rgba(112,44,255, .9);
}

.project-container {
    background-color: #fff;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 40px;
    bottom: 40px;
}


.overlay.loading .project-full {
    background: url("../images/spinner.gif") no-repeat center center;
}
.overlay.loading .project-full * {
    visibility: hidden;
}

.project-controls  {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 50%;
    border-radius: 27px;
    background: url("../images/arrow.svg") no-repeat center center;
    border: solid 1px #a680e7;
}

.project-controls.project-previous {
    left: -80px;

}

.project-controls.project-previous:hover,
.project-controls.project-previous:active,
.project-controls.project-next:hover,
.project-controls.project-next:active{
    background: url("../images/arrowa.svg") no-repeat center center;
    border-color: #fff;
    background-color: #fff;
    box-shadow:  0 0 40px 1px #c450bf, 0 0 20px 3px #ffb900;
}

.project-controls.disabled {
    pointer-events: none;
}

.project-controls.project-next {
    right: -80px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.project-heading {
    padding: 40px;
}

.project-heading h1 {
    font-family: "open sans light", arial, sans-serif;
    font-size: 5em;
    line-height: 1em;
    font-weight: normal;
}

.project-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: "open sans light", arial, sans-serif;
    font-weight: 100;
    font-size: 5em;
    background: url("../images/close.svg") no-repeat center center;
    display: block;
    width: 20px;
    height: 20px;
}

.project-state, .project-specific {
    text-align: justify;
}

.project-state:before, .project-specific:before {
    content: '';
    display: block;
    width: 100%;

}

.project-state:after, .project-specific:after {
    content: '';
    display: inline-block;
    width: 100%;
}


.project-state-info {
    margin-top: 25px;
    padding: 3px 0 3px 20px;
    font-family: "open sans", arial, sans-serif;
    font-size: 1.3em;
    display: inline-block;

}

.project-status {
    padding: 3px 0 3px 25px;
    font-weight: normal;
}

.project-status i {
    margin-left: 8px;
}

.project-year {
    text-align: right;
    color: #464646;
}


.state1 {
    color: #32ac38;
}

.state2 {
    color: #ff7d33;
}

.state0 {
    color: #4d4d4d;
}


.project-link {
    font-family: "open sans", arial, sans-serif;
    font-size: 1.8em;
    text-decoration: none;
    padding: 3px 35px 3px 0;
    margin-top: 25px;
    display: inline-block;
    background: url("../images/away.svg") no-repeat right center;
}

.project-link:hover {
    color: #ff8400;
    background-image: url("../images/awaya.svg");
}

.project-features {
    display: inline-block;
    list-style: none;
}

.project-role {
    display: inline-block;
    font-size: 1.3em;
    color: #464646;
    font-family: "open sans", arial, sans-serif;
}

.project-role span {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.7em;
    text-align: center;
    line-height: 0.4em;
}

.project-feature-item {
    font-family: "open sans", arial, sans-serif;
    display: inline-block;
    font-size: 1.3em;
    color: #464646;
    padding: 3px 7px 3px 0;
    margin-right: 5px;
    border-right: solid 1px #752aef;
}

.project-feature-item:last-child {
    border-right: none;
}

.project-body {
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-around;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
}


.project-details {
    padding-left: 40px;
    padding-right: 20px;
    font-size: 1.5em;
    color: #464646;
    font-family: "open sans", arial, sans-serif;
    width: 40%;
    line-height: 1.6em;
}

.project-details p {
    margin-bottom: 10px;
}

.project-details li {
    margin-left: 20px;
}

.project-details ul li {
    list-style: none;
    padding-left: 5px;
    position: relative;
    margin-bottom: 10px;
}

.project-details ul li:before {
    content: "—";
    color: #752aef;
    margin-left: -25px;
    position: absolute;
}

.viewport-slide {
    display: none;
    cursor: crosshair;
}

.project-gallery img {
    width: 100%;
}

.project-image-item {
    mergin-bottom: 10px;
}

.project-image-description {
    font-size: 1.3em;
    line-height: 1.1em;
    color: #752aef;
    font-family: "open sans", arial, sans-serif;
}

.viewport .mCSB_inside > .mCSB_container,
.project-list .mCSB_inside > .mCSB_container {
    margin: 0;
}

.viewport .mCSB_scrollTools .mCSB_draggerContainer {
    right: -12px;
}

.project-gallery .mCSB_scrollTools,
.project-details .mCSB_scrollTools {
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

.project-gallery .mCSB_scrollTools .mCSB_draggerContainer,
.project-details .mCSB_scrollTools .mCSB_draggerContainer{
    right: 0px;
}

.project-gallery .mCSB_scrollTools .mCSB_draggerRail,
.project-details .mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}

.project-gallery .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.project-details .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(117,42,239,.3);
    border-radius: 1px;
    -webkit-border-radius: 1px;
}

.project-gallery .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.project-details .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: rgba(117,42,239,.7);
}

.project-gallery .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.project-gallery .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.project-details .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.project-details .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: rgba(117,42,239,.7);
}


@media screen and (max-device-width: 1200px), screen and (max-width: 1200px) {
    .project-container {
        bottom: auto;
    }

    .project-body {
        display: block;
    }

    .project-details {
        width: 100%;
        height: auto;
    }

    .project-gallery {
        width: 100%;
        padding-left: 40px;
        padding-right: 10px;
        height: 500px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
}