html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', arial sans-serif;
    background: #1a1a1c;
    color: #dcdedf;
    font-size: 10px;
    height: 100%;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

.element-invisible {
    display: none;
}

.max-width {
    max-width: 1280px;
    margin: 0 auto;
    min-width: 320px;
}


.max-width:before,
.max-width:after {
    content:"";
    display:table;
}
.max-width:after{
    clear:both;
}
.max-width {
    zoom:1; /* Хак для IE 6 и 7 */
}

.page-heading {
    font-size: 5rem;
    color: #dcdedf;
    font-weight: 300;
    margin: 6rem 0;
}

.wrapper {
    width: auto;
    min-height: 100%;
    padding-bottom: 10rem;
}

* html .wrapper {
    height: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.main-navigation .container-fluid,
footer .container-fluid {
    padding: 0 4rem;
}

.main-navigation {
    background-color: #111213;
    position: relative;
}

.main-navigation .container {
    height: 6rem;
    padding: 0 4rem;
}

.main-navigation .navbar-default {
    background-color: #111213;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.main-navigation .navbar-brand {
    padding: 0.7rem 0 0 0.5rem;
    width: 23.5rem;
    white-space: nowrap;
    margin-right: 2rem;
}


.main-navigation .brand-image {
    width: 4.7rem;
    height: 4.2rem;
    fill: #4b4b4d;
    transition: all 0.3s;
}

.main-navigation .brand-text {
    width: 16.8rem;
    height: 3rem;
    fill: #8e8e92;
    margin: 0.5rem 0 0 1.6rem;
    transition: all 0.3s;
}

.main-navigation .navbar-brand:hover .icon {
    fill: #C1C1C7;
}

.main-navigation .navbar-nav {
    margin: 0;
    padding: 0.8rem 0 0.8rem 4rem;
    list-style: none;
    font-size: 0;
    background-color: #111213;
    z-index: 8;
    float: none;
    white-space:nowrap;
}

.main-navigation .navbar-default .navbar-nav>li>a {
    display: block;
    color: #8e8e92;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 1.65rem;
    padding: 1.3rem 1.8rem 1.1rem 1.8rem;
}

.main-navigation .navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

.main-navigation .navbar-default .navbar-nav>li.current>a,
.main-navigation .navbar-default .navbar-nav>li.current>a:hover {
    background: #b7b7bb;
    color: #111213;
}

.main-navigation .navbar-default li#settings>a {
    color: #48484a;
    font-size: 1.3rem;
}

.main-navigation .navbar-default .pull-right {

}

.main-navigation .navbar-default .pull-right>a:hover {
    color: #8e8e92;
}

.main-navigation .enter {
    width: 2.5rem;
    height: 2.6rem;
    fill: #474749;
    transition: all 0.3s;
    margin-right: 1rem;
    margin-top: -1rem;
}

.main-navigation .logout {
    width: 2.2rem;
    height: 2.5rem;
    fill: #48484a;
}

.main-navigation .setup {
    width: 2.5rem;
    height: 2.5rem;
    fill: #48484a;
    margin-left: 1rem;
}

.main-navigation .pull-right .icon {
    transition: all 0.3s;
}

.main-navigation .pull-right a:hover .icon {
    fill: #C1C1C7;
}

.main-navigation .navbar-default .navbar-toggle {
    border: none;
    border-radius: 0;
}

.main-navigation .navbar-default .navbar-collapse {
    border: none;
    border-radius: 0;
}

.main-navigation  .navbar-default .navbar-toggle:hover,
.main-navigation  .navbar-default .navbar-toggle:focus {
    background-color: #b7b7bb;
}



.main-navigation .navbar-toggle .icon-bar {
    display: block;
    width: 20px;
    height: 4px;
    border-radius: 0;
}

.main-navigation .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 2px;
}

.main-navigation .navbar-default .navbar-toggle .icon-bar {
    background: transparent;
    border: solid 1px #8e8e92;
}

.main-navigation  .navbar-default .navbar-toggle:hover .icon-bar,
.main-navigation  .navbar-default .navbar-toggle:focus .icon-bar {
    border-color: #111213;
    box-shadow: 0 1px 1px #adadb0 inset;
}

/* ------------------------------------------------------------------------------------------------------------------ */


footer {
    background: #161618;
    min-height: 10rem;
    margin-top: -10.4rem;
}

.footer-container {
    padding: 0 6rem;
}


.footer-plumsquare-logo {
    display: inline-block;
    vertical-align: top;
    padding: 2.4rem 0 0 0;
}

.plumsquare {
    display: inline-block;
    vertical-align: top;
    width: 6.7rem;
    height: 5.2rem;
    fill: #3a3b3c;
    transition: all 0.3s;
    margin: 0 3.8rem;
}


.footer-plumsquare-logo a:hover .plumsquare {
    fill: #C1C1C7;
}

.footer-social {
    font-size: 0;
    padding: 3.8rem 3.8rem 3.8rem 0;
    text-align: right;
}

.footer-social-title {
    display: inline-block;
    vertical-align: top;
    color: #606162;
    font-size: 1.3rem;
    line-height: 1.7rem;
    padding: 5px 0.6rem 0 0;
}

.footer-social-links {
    display: inline-block;
    vertical-align: top;
}

.footer-social-icon {
    display: inline-block;
    vertical-align: top;
    width: 2.8rem;
    height: 2.8rem;
    margin-left: 0.3rem;
}

.footer-social-icon.icon-appstore {
    width: 8.2rem;
    margin-left: 3rem
}

.footer-social-icon .icon {
    fill: #3a3b3c;
    transition: all 0.3s;
    width: 2.8rem;
    height: 2.8rem;
}

.footer-social-icon.icon-appstore .icon {
     width: 8.2rem;
}

.footer-social-icon:hover .icon {
    fill: #b7b7bb;
}

.footer-copyright {
    font-size: 1.3rem;
    line-height: 2rem;
    color: #606162;
    padding: 3rem 0 0 0;
    display: inline-block;
    vertical-align: top;
}

.footer-copyright a {
    color: #8e8e92;
    text-decoration: none;
    transition: all 0.3s;
}

.footer-copyright a:hover {
    color: #C1C1C7;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.button-light {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6d6d6+0,b6b6ba+100 */
    background: #d6d6d6; /* Old browsers */
    background: -moz-linear-gradient(top,  #d6d6d6 0%, #b6b6ba 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(100%,#b6b6ba)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d6d6d6 0%,#b6b6ba 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d6d6d6 0%,#b6b6ba 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d6d6d6 0%,#b6b6ba 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d6d6d6 0%,#b6b6ba 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#b6b6ba',GradientType=0 ); /* IE6-9 */
    transition: background 0.3s;
    color: #101112;
    text-decoration: none;
    display:block;
    outline: none;
}

.button-light:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,d6d6d6+100 */
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #d6d6d6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#d6d6d6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#d6d6d6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#d6d6d6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 -0.1rem 0.5rem rgba(0,0,0, .3) inset;
    text-decoration: none;
    color: #19191b;
}

.button-light:active {
    background: #a7a7aa;
    color: #19191b;
    box-shadow: 0 1px 1px #737375 inset;
    text-decoration: none;
}

.button-dark {
    background: #474749;
    color: #b6b6ba;
    text-decoration: none;
    transition: all 0.3s;
    border: none;
    outline: none;
    display: inline-block;
}

.button-dark:hover {
    background: #b6b6ba;
    color: #19191b;
    text-decoration: none;
}

.button-dark:active {
    background: #a7a7aa;
    color: #19191b;
    box-shadow: 0 1px 1px #737375 inset;
}



/* ------------------------------------------------------------------------------------------------------------------ */
/* form controls */

input.form-control {
    display: block;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    height: 3.5rem;
    border: solid 1px #474749;
    line-height: 3.5rem;
    padding: 0.8rem 0.5rem;
    color: #8d8d91;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    background: transparent;
}

input.form-control:focus {
    border: solid 1px #dbddde;
    color: #dbddde;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder {
    color: #58595a;
}
.form-control::-moz-placeholder {
    color: #58595a;
}
.form-control:-moz-placeholder {
    color: #58595a;
}
.form-control:-ms-input-placeholder {
    color: #58595a;
}

.form-inline .form-group {
    display: block;
}

.form-inline .form-control {
    width: 100%;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* modal */

.modal-dialog {
    width: 400px;
    margin: 100px auto;
}

.modal-content {
    background-color: #1a1a1c;
    border-radius: 0;
}

.modal-header {
    border-bottom: none;
}

.modal-header .close-btn {
    width: 1rem;
    height: 1rem;

}

.modal-header .icon {
    width: 1rem;
    height: 1rem;
    fill: #ffffff;
}

.modal-header h4 {
    font-size: 5rem;
    text-align: center;
    font-weight: 300;
}

.modal-body {
    padding: 0 3em;
}


.button-row .form-group {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

.button-row label {
    font-size: 1.5rem;
    color: #8e8e92;
    font-weight: 300;
}

.button-row .button-dark {
    font-size: 1.846em;
    padding: 0.833em 2.083em;
}

.modal-footer {
    border-top-color: #272829;
    padding: 3em;
}

.modal-footer a {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    font-size: 1.5rem;
    color: #8e8e92;
    transition: all 0.3s;
}
.modal-footer a:hover {
    color: #fff;
    text-decoration: none;
}


.modal-footer a:first-child {
    text-align: left;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.page-left {
    border-right: 1px solid #2a2b2c;
    vertical-align: top;
    box-sizing: border-box;
    margin-right: -1px;
    margin-bottom: 6rem;
    background-color: #1a1a1c;
    padding: 0;
}

.page-right {
    position: relative;
    border-left: 1px solid #2a2b2c;
    margin-bottom: 6rem;
    padding: 0;
    background-color: #1a1a1c;
}

/* ------------------------------------------------------------------------------------------------------------------ */


.help-block {
    margin: 0;
}

.form-group {
    position: relative;
    padding: 1.4rem 0 0.6rem;
    margin-bottom: 0;
}



.form-group label.control-label,
.form-group input.form-control,
.form-group span.help-block {
    display: inline-block;
    vertical-align: top;
    height: 3.5rem;
}


.form-group label.control-label {
    font-weight: 300;
    font-size: 1.5rem;
    color: #8e8e92;
    width: 14.6rem;

}

.form-group label.control-label .required {
    display: none;
}

.form-group span.help-block {
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #606162;
    width: 38rem;
    margin-left: 3.6rem;
}

.form-group span.help-block em{
    font-style: normal;
    height: 3.4rem;
    display: table-cell;
    vertical-align: middle;
}

.form-group div.help-block {
    position: absolute;
    top: 0;
}

.form-group input.form-control {
    margin: 0 0 1rem 0;
}

input.form-control:hover {
    border-color: #747474;
}

input.form-control:focus {
    border: solid 1px #ffffff;
    background: #ffffff;
    color: #474749;
    box-shadow: none;
}

.has-error .form-control, .has-error .form-control:focus {
    border-color: #F53C49;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: url('../images/svg/wrong.svg') no-repeat 98% center transparent;
    color: #F53C49;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
   color: #F53C49;
}

.has-success .form-control, .has-success .form-control:focus {
    border-color: #598E65;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: url('../images/svg/ok.svg') no-repeat 98% center transparent;
    color: #51B468;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.alert {
    padding: 1rem 1rem 1rem 2.5rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    border-radius: 0;
    border: none;
}

.alert .close {
    text-shadow: none;
}

.alert-danger {
    background: url('../images/svg/wrong.svg') no-repeat left center transparent;
    color: #F53C49;
}

.alert-danger .close {
    color: #F53C49;
}

.alert-success {
    background: url('../images/svg/ok.svg') no-repeat left center transparent;
    color: #51B468;
}

.alert-success .close {
    color: #51B468;
}

@media (min-width: 768px) {
#enter span, #settings span {
        display: none;
    }
}

@media (min-width: 992px) {
    #enter span, #settings span {
        display: none;
    }
}

@media (min-width: 1200px) {
#enter span, #settings span {
        display: inline;
    }
}

