

/* Responsive resizing for mobile devices
---------------------------------------------------------------------------------------------------- */
/* responsive declaration less than fullview
left-right padding to 8rem
----------------------------------------------------------------------------*/
@media screen and (max-device-width: 1200px), screen and (max-width: 1200px) {

    html, body {
        font-size: 9px;
    }


    .main-menu li#settings a i {
        display: none;
    }


}

/* responsive declaration 980px
----------------------------------------------------------------------------*/
@media screen and (max-device-width: 980px), screen and (max-width: 980px) {

    html, body {
        font-size: 8.5px;
    }

    .logo {
        width: 21.5rem;
    }

    .main-navigation .brand-image {
        width: 4.23rem;
        height: 3.78rem;
    }

    .main-navigation .brand-text {
        width: 15.12rem;
        height: 2.7rem;
    }

    .welcome-menu ul li a {
        font-size: 1.4rem;
    }

    .footer-plumsquare-logo {
        text-align: right;
    }

    .footer-social {
        text-align: center;
        padding-top: 3.8rem;
    }

    

}

/* responsive declaration 800px
----------------------------------------------------------------------------*/
@media screen and (max-device-width: 800px), screen and (max-width: 800px) {

    html, body {
        font-size: 8.3px;
    }

    .welcome-subscribe-header {
        font-size: 5rem;
        padding: 0 10rem 6.7rem 10rem
    }

    .welcome-subscribe-button {
        font-size: 2rem;
    }
}

/* responsive declaration 768px
----------------------------------------------------------------------------*/
@media screen and (max-device-width: 768px), screen and (max-width: 768px) {

    html, body {
        font-size: 8px;
    }

    .footer-plumsquare-logo {
        text-align: center;
    }

    .welcome-subscribe-description {
        padding: 2.9rem 1.2rem 2rem;
    }


    .welcome-menu ul li a {
        font-size: 1.2rem;
    }

    .main-navigation .navbar-nav {
        padding: 0;
    }

    .main-navigation .navbar-default .navbar-nav>li>a {
        font-size: 2rem;
    }


}


/* responsive declaration 640px
left-right padding to 2rem
----------------------------------------------------------------------------*/
@media screen and (max-device-width: 640px), screen and (max-width: 640px) {

    html, body {
        font-size: 7.8px;
    }

    .welcome-subscribe-header {
        font-size: 4rem;

    }

    .welcome-subscribe-container {
        margin: 0;
    }


    .welcome-subscribe-button {
        font-size: 3rem;
    }


    .welcome-subscribe-plans,
    .welcome-slide-text-container{
        font-size: 2rem;
        line-height: 4rem;
    }

    .welcome-slide-text-container h1 {
        font-size: 3rem;
        line-height: 3.4rem;
    }

    .register-form-label {
        font-size: 2rem;
    }

    .register-form-input {
        display: block;
    }

    .register-form-input input {
        font-size: 2rem;
    }


    .register-form-tip {
        font-size: 1.6rem;
    }

    .register-submit {
        text-align: center;
    }

    .about-plumsquare-logo,
    .about-diary-logo {
        text-align: center;
    }

    .about-plumsquare-logo #svgc-logo-big,
    .about-diary-logo #svgc-logo-td {
        width: 32rem;
        height: auto;
        margin: 0 auto;
    }

    .about-diary-desc,
    .about-plumsquare-desc i,
    .about-plumsquare-contact,
    .about-diary-links {
        font-size: 1.8rem;

    }
}

/* responsive declaration 550px
left-right padding to 1rem
font size to 2rem minumum
----------------------------------------------------------------------------*/
@media screen and (max-device-width: 550px), screen and (max-width: 550px) {




    .faq-desc-text {
        font-size: 2rem;
        line-height: 3rem;
    }

    .faq-links-left,
    .faq-links-right {
        font-size: 2rem;
        line-height: 3rem;
    }

    .faq-links-right a,
    .faq-links-left a {
        font-size: 2rem;
        line-height: 3rem;
    }

    .faq-answers-one-answer {
        font-size: 2rem;
        line-height: 3rem;
    }

    .faq-answers-one h1 {
        font-size: 2.4rem;
        line-height: 3.4rem;
    }

    .faq-answers-one h1 span {
        width: 3.4rem;
        height: 3.4rem;
        top: 0.1rem;
    }

    .about-diary-links a {
        display: block;
        margin: 0;
        padding: 1rem 0 1rem 0;
    }
}