/*
#702ce1 - фиолетовый фон
6928d5 - фиолетовый основной
fda061 - оранжевый
ff8d06 - оранжевый основной
*/
@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 400;
    src: local("OpenSans-Light"), url('fonts/open_sans/OpenSans-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    background: #702ce1;
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    min-height: 910px;
    padding-bottom: 250px;
}



.head {
    font-family: "open sans light", arial, sans-serif;
    color: #fff;
    font-size: 4em;
    font-weight: normal;
    margin-top: 50px;
    text-align: center;
}

.regalia {
    font-family: "open sans light", arial, sans-serif;
    color: #fff;
    font-size: 2em;
    text-align: center;
}

.display {
    margin-top: 50px;
}

.screen {
    width: 440px;
    height: 275px;
    border: solid 1px #fff;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
}

.cam {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    border: solid 1px #fff;
    margin: 4px auto;
}

.viewport {
    width: 400px;
    height: 240px;
    border: solid 1px #fff;
    margin: 0 auto;
    background: #ddd;
}

.panel {
    width: 440px;
    height: 40px;
    border: solid 1px #fff;
    border-top: none;
    border-radius: 0 0 15px 15px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: "open sans light", arial, sans-serif;
    font-size: 0.5em;
    text-align: center;
    color: #fff;
    line-height: 40px;
}


.logo {
    width: 16px;
    height: 16px;
    border: solid 1px #fff;
    border-bottom: none;
    border-right: none;
    border-radius: 10px;
    margin: 0 auto;
}

.logo i {
    display: block;
    width: 12px;
    height: 12px;
    border: solid 1px #fff;
    border-right: none;
    border-bottom: none;
    border-radius: 12px;
    margin: 2px;
}

.logo em {
    display: block;
    width: 8px;
    height: 8px;
    border: solid 1px #fff;
    border-right: none;
    border-bottom: none;
    border-radius: 8px;
    margin: 2px;
}

.stand {
    width: 150px;
    height: 45px;
    margin: 0 auto;
}

.stand-right {
    height: 43px;
    border-left: solid 1px #fff;
    border-radius: 0 0 0 25px;
    width: 20px;
    float: right;
}

.stand-left {
    height: 43px;
    border-right: solid 1px #fff;
    border-radius: 0 0 25px 0;
    width: 20px;
    float: left;
}

.plate {
    clear: both;
    border: solid 1px #fff;
    height: 4px;
    border-radius: 2px;
    margin-top: -2px;
}

.list {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    background: #6928d5;
}

.list-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    position: relative;
    height: 250px;
}

.list-container {
    position: absolute;
    width: auto;
    left: 0;
    top: 0;
    bottom: 0;
}

.list-list {
    list-style: none;
    white-space: nowrap;
}

.list-item {
    display: inline-block;
    height: 200px;
    max-width: 230px;
}

.list-item-link {
    display: table-cell;
    vertical-align: middle;
    height: 200px;
    font-family: "open sans light", arial, sans-serif;
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
    white-space: normal;
    text-align: center;
    padding: 0 20px;
}
