.about-plumsquare .container {
    padding: 4.2rem 0 8rem 0;
    box-sizing: border-box;
}

.about-plumsquare-logo {
    padding-top: 1.5rem;
    text-align: center;
}

.about-plumsquare-content {
}

.about-plumsquare-logo .logo {
    width: 17rem;
    height: 12.9rem;
    fill: #6d00bb;
    margin-bottom: 6rem;
}



.about-plumsquare-header {
    font-size: 5rem;
    line-height: 7rem;
    font-weight: 300;
    color: #dcdedf;
    margin-left: -0.4rem;
}

.about-plumsquare-desc {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #c9c9cf;
    padding: 2.8rem 0 0 0;
}

.about-plumsquare-desc i {
    display: block;
    color: #c9c9cf;
    padding-top: 1rem;
    font-size: 1.6rem;
}

.about-plumsquare-header-contact {
    font-size: 5rem;
    line-height: 7rem;
    font-weight: 300;
    color: #dcdedf;
    padding: 5.7rem 0 0 0;
    margin-left: -0.4rem;
}

.about-plumsquare-contact {
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #8e8e92;
    padding: 1.6rem 0 0 0;
}

.about-plumsquare-contact a {
    color: #dcdedf;
    text-decoration: none;
    transition: all 0.3s;
}

.about-plumsquare-contact a:hover {
    color: #68686c;
}

.about-plumsquare-social {
    font-size: 0;
    padding: 3.5rem 0 0 0;
}

.about-plumsquare-social a {
    margin-right: 2rem;
}
.about-plumsquare-social .icon  {
    width: 4.6rem;
    height: 4.6rem;
    display: inline-block;
    fill: #3a3b3c;
    transition: all 0.3s;
}

.about-plumsquare-social a:hover .icon {
    fill: #C1C1C7;
}

.about-diary {
    background: #111213;
}

.about-diary .container {
    padding: 4.1rem 0 5.8rem 0;
    box-sizing: border-box;
}

.about-diary-logo {
    text-align: center;
    padding-top: 1.9rem;
}

.about-diary-content {

}


.about-diary-logo .td{
    width: 17rem;
    height: 15.1rem;
    margin-bottom: 6rem;
}

.about-diary-header {
    font-size: 5rem;
    line-height: 7rem;
    font-weight: 300;
    color: #dcdedf;
    margin-left: -0.3rem;
}

.about-diary-header2 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #c9c9cf;
    padding: 2rem 0 0 0;
}

.about-diary-desc {
    font-size: 1.3rem;
    line-height: 2.4rem;
    color: #8e8e92;
    padding: 1.2rem 0 0 0;
}

.about-diary-desc a {
    color: #dcdedf;
    text-decoration: none;
    transition: all 0.3s;
}

.about-diary-desc a:hover {
    color: #68686c;
}

.about-diary-links {
    font-size: 1.5rem;
    line-height: 2.4rem;
    padding: 2.7rem 0 0 0;
}

.about-diary-links a {
    color: #dcdedf;
    text-decoration: none;
    transition: all 0.3s;
}

.about-diary-links a:hover {
    color: #68686c;
}

.about-diary-links a:nth-child(1) {
    margin-right: 5.3rem;
}
