.register .max_width {
    padding: 0 16rem 0 16rem;
    box-sizing: border-box;
}

.register-form .form-group:first-child {
    margin-bottom: 3rem;
}

.register-form .button-dark {
    font-size: 2.1rem;
    padding: 2rem 4rem;
    margin-left: 14.6rem;
}

.register-form .form-group div.help-block {
    position: absolute;
    left:14.6rem;
    top: 0;
}

.register-form .form-group input.form-control {
    width: 30rem;
}

.reset-form .form-group label.control-label {
    font-weight: 300;
    font-size: 1.5rem;
    color: #8e8e92;
    width: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------ */


.login-buttons {
    border-top: solid 1px #272829;
    padding: 3em;
    margin-top: 3rem;
}

.login-buttons a {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    font-size: 1.5rem;
    color: #8e8e92;
    transition: all 0.3s;
}
.login-buttons a:hover {
    color: #fff;
    text-decoration: none;
}


.login-buttons a:first-child {
    text-align: left;
}