.page .container-fluid {
    padding-left: 0;
}


.stock-list-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    bottom: 0;
    background-color: #1a1a1c;
    display: none;
}

.stock-list-lock {
    padding: 20px 20px;
    text-align: center;
}

.stock-list-lock span {
    display: block;
    color: #606162;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 10px;
}


.stock-list-lock .button {
    width: 100%;
}

.stock-list-lock-title {
    color: #c9c9cf;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 10px;
}



.lock-overlay {
    left: 0;
    right: -40px;
    top: 0;
    bottom: 0;
    background-color: #1a1a1c;
    position: absolute;
    display: none;
    z-index: 11;
}

.lock-overlay-text {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 25%;
    font-size: 1.3rem;
    line-height: 2.8rem;
}

.lock-overlay-description {
    margin-top: 3rem;
}

.info-overlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #1a1a1c;
    position: absolute;
    display: none;
    z-index: 9999;
}

/* ------------------------------------------------------------------------------------------------------------------ */


.stock-list {
    padding: 0.9rem 0 0 0;
    position: relative;
}

.stock-list .up,
.stock-list .down
{
    width: 1.3rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: top;
    fill: #8e8e92;
}

.stock-list .favorite-icon  {
    vertical-align: middle;
    display: none;

    height: 2rem;
}

.stock-list .favorite-icon .star {
    width: 2rem;
    height: 2rem;
    fill: #bf8f3c;
}

.stock-list .divergence.favorite .favorite-icon {
    display: inline-block;
}

.stock-list .favorite td:nth-child(1) {
    color: #bf8f3c;
}

.stock-list table {
    width: 100%;
    border-collapse: collapse;
}

.stock-list .items > div {
    transition: all 0.3s;
    display: table;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #8e8e92;
}

.stock-list .items > div div {
    display: table-cell;
    vertical-align: middle;

}

.stock-list .items > div:hover {
    cursor: pointer;
    background: #232425;
    color: #c9c9cf;
}

.stock-list .items .favorite div:nth-child(1) {
    color: #bf8f3c;
}

.stock-list .items .canceled div:nth-child(1) {
    color: #f53848;
}


.stock-list .items .canceled div:nth-child(4) {
    color: #852e36;
}

.stock-list .items .canceled .up,
.stock-list .items .canceled .down {
    fill: #f53848;
}

.stock-list .cancelled-label {
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: #852e36;
    border: 1px solid #852e36;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    margin: 1.5rem 0 0 0;
    display: inline-block;
}

.stock-list .items > div div:nth-child(1) {
    font-size: 2rem;
    line-height: 3rem;
    padding: 0.7rem 0 0.8rem 2.9rem;
    font-weight: 300;
    width: 7.1rem;
    vertical-align: middle;
    width: 25%;
}

.stock-list .items > div div:nth-child(2) {
    width: 15%;
    text-align: center;
}

.stock-list .items > div div:nth-child(3) {
    width: 30%;
    text-align: center;
}

.stock-list .items > div div:nth-child(4) {
    font-size: 1.3rem;
    color: #606162;
    vertical-align: middle;
    width: 15%;
    text-align: center;
}

.stock-list .items > div div:nth-child(3) {
    text-align: right;
    vertical-align: top;
}

.stock-list .items .current div {
    background: #111213;
    color: #c9c9cf;
}

.stock-list .cancelled-label {
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: #852e36;
    border: 1px solid #852e36;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    margin: 1.5rem 0 0 0;
    display: inline-block;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.calendar {
    background-color: #161618;
    padding: 0 2rem;
}

.calendar .items {
    text-align: center;
}

.day_view {
    font-size: 5rem;
    line-height: 5rem;
    color: #8e8e92;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    width: 32%;
    text-align: center;
}

.day_view a {
     color: #c9c9cf;
    text-decoration: none;
}

.day_view span {
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: #606162;
    font-weight: 300;
    display: block;
}

.day_row {
    margin: 15px 25px 0;
}

.day_row .nothing, .day_next.nothing span, .day_before.nothing span {
    color: #252527;
}

.calendar_nav {
    display: block;
    height: 0;
    list-style: none;
    position: relative;
}

.calendar_nav .first,
.calendar_nav .last {
    display: none;
}

.calendar_nav .previous {
    position: absolute;
    left: 2rem;
    top: 4rem;
}
.calendar_nav .next {
    position: absolute;
    right: 2rem;
    top: 4rem;
}



.calendar-row.month {

}
/*
.calendar-row.month .calendar-row-month {
    display: block;
    font-size: 3.2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.calendar-row.month .calendar-row-month b {
    font-weight: normal;
    color: #606162;
    display: block;
}

.calendar-row.month .calendar-body {

}

.calendar-row.month .days-of-week > div {
    display: inline-block;
    width: 4.05rem;
    height: 3.8rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    color: #606162;
}

.calendar-row.month .calendar-day {
    display: inline-block;
    font-size: 1.5rem;
    width: 3.8rem;
    height: 3.8rem;
    text-align: center;
    position: relative;
}

.calendar-row.month .calendar-day span {
    display: block;
    font-size: 1rem;

}
.calendar-row.month .calendar-day:hover {
    background-color: #1d1d20;
}
.calendar-row.month .calendar-day:hover a {
    color: #fff;
}


.calendar-row.month .calendar-day {
    color: #bf8f3c;
}

.calendar-row.month .calendar-day a {
    color: #bf8f3c;
    text-decoration:none;
}

.calendar-row.month .calendar-day.nothing {
    color: #8e8e92;
}

.calendar-row.month .calendar-day.current {

    background-color: #b7b7bb;
}

.calendar-row.month .calendar-day.current a {
    color: #161618;
}

.calendar-row.month .calendar-day.nothing span {
    color: #343434;
}

.calendar-row.month .calendar-day.closed:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: url("../images/svg/lock_up.svg") no-repeat center center;
    background-size: 75%;

}
 */

.calendar .calendar-body {
    padding: 0 2rem;
    margin: 0 auto;
}


.calendar .calendar-week-header .calendar-day > div > div {
    padding-bottom: 10px;
    height: auto;
}

.calendar .days-of-week > div {
    display: inline-block;
    float: left;
    min-height: 1px;
    width: 14.28571%;
    text-transform: uppercase;
    font-size: 1rem;
    color: #606162;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 1.5rem;
}

.calendar .calendar-day {
    display: inline-block;
    float: left;
    min-height: 1px;
    padding: 0;
    position: relative;
    width: 14.28571%;
}



.calendar .calendar-day > div {
    display: flex;
    justify-content: center;
    width: 100%;
}
.calendar .calendar-day > div > div {
    height: 0;
    padding: 50% 0;
}

.calendar .calendar-day a,
.calendar .calendar-day span {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    color: #8e8e92;
    text-align: right;
    padding: 5% 10px 0;
    text-decoration:none;
}

.calendar .calendar-day a i,
.calendar .calendar-day span i {
    display: block;
    font-size: 1rem;
    font-style: normal;
}

.calendar .calendar-day.nothing {
    cursor: default;
}

.calendar .calendar-day a.has_favorite {
    color: #bf8f3c;
}

.calendar .calendar-day.nothing i {
    color: #343434;
}

.calendar .calendar-day.current a {
    background: #b7b7bb;
    color: #111213;
}


.calendar-row.month .calendar-row-month {
    display: block;
    font-size: 3.2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.calendar-row.month .calendar-row-month b {
    font-weight: normal;
    color: #606162;
    display: block;
}

.day_row .calendar_day.closed {
    position: relative;
}

.day_row .calendar_day.closed:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: url("../images/svg/lock_up.svg") no-repeat center 15px;
    background-size: 30%;
}

.calendar-expand {
    display: block;
    height: 4rem;
    text-align: center;
    margin-top: 1.5rem;
    line-height: 4rem;
    border-bottom: solid 1px #1a1a1c;
}

.calendar-expand.expanded {
     -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}


.pager li>a, .pager li>span {
      display: block;
  padding: 5px 14px;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.pager li>a:hover, .pager li>a:focus {
    background-color: transparent
}

.pager .icon {
    width: 1.2rem;
    height: 2.2rem;
    fill: #8e8e92;
}

/*
.calendar .list-view-loading {
    background-position: center center;
}

.calendar .list-view-loading .items * {
    visibility: hidden;
}*/

.calendar .items {
    overflow: hidden;
}

.calendar-expand .bottom-arrow {
    width: 2.2rem;
    height: 1.2rem;
    fill: #8e8e92;
}
.calendar_nav .next.hidden, .calendar_nav .previous.hidden {
    display: block !important;
    visibility: visible !important;
    pointer-events: none;
}

.hidden svg {
    fill: #252527 !important;
}

#svgc_left {
    display: inline-block;
    vertical-align: top;
    width: 1.2rem;
    height: 2.2rem;
    fill: #8e8e92;
}

#svgc_right {
    display: inline-block;
    vertical-align: top;
    width: 1.2rem;
    height: 2.2rem;
    fill: #8e8e92;
}

#svgc_bottom_arrow {
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: 1rem;
    fill: #8e8e92;
}

.page_content .page_left {
    box-sizing: border-box;
}

.calendar-filter {
    font-size: 0;
    padding: 2rem;
    margin: 0;
    border: 1px solid #1f1f21;
    border-width: 0 0 1px 0;
}

.calendar-filter-left {
    float: right;
}

.calendar-filter a {
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: #8e8e92;
    display: inline-block;
    padding: 0.9rem 0.7rem 0.9rem 0.7rem;
    text-decoration: none;
    transition: all 0.3s;
}

.calendar-filter a.current {
    background: #111213;
}

.calendar-filter a:hover {
    background: #232425;
    color: #c9c9cf;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#tv_chart_container {
    height: 60rem;
    position: relative;
    margin: 0 3rem;
}


#tv_chart_container:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: block;
}



/* ------------------------------------------------------------------------------------------------------------------ */


.stock-top-name {
    font-size: 5rem;
    line-height: 5rem;
    color: #8e8e92;
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
}

.stock-top-numbers {
    display: inline-block;
    vertical-align: top;
}

.stock-top-numbers div:nth-child(1) {
    font-size: 2.6rem;
    line-height: 2.6rem;
    color: #8e8e92;
}

.stock-top-numbers div:nth-child(2) {
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #f53848;
}

.stock-top-favorite-link {
    display: inline-block;
    vertical-align: top;
    padding: 0.8rem 0 0 2.5rem;
}

.stock-top-favorite-link .favorite {
    width: 4rem;
    height: 4rem;
    fill:#606162;
}

.stock-top-favorite-link.is-favorite .favorite {
    fill: #bf8f3c;
}

.stock-top-cancelled {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    color: #161618;
    background: #d53240;
    text-transform: uppercase;
    letter-spacing: 0.17rem;
    padding: 0.7rem 0.7rem 0.9rem 0.7rem;
    margin: 0.8rem 0 0 1.8rem;
    box-shadow:         0px 0px 20px 0px rgba(255, 56, 74, 1);
}

.stock-top-fullname {
    font-size: 1.6rem;
    line-height: 1.6rem;
    display: block;
    color: #606162;
    vertical-align: top;
    padding: 0.1rem 0 0 0.2rem;
    cursor: pointer;
    text-decoration: none;
    fill: #606162;
}

.stock-top-fullname:hover,.stock-top-fullname:active {
    color: #fff;
    fill: #fff;
    text-decoration: none;
}



.info {
    width: 1.6rem;
    height: 1.6rem;
    vertical-align: middle;

}

.stock-top-fullname span {
    display: inline-block;
    vertical-align: middle;
}

.stock-top-i-icon {
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    vertical-align: top;
    fill: #606162;
    margin: 0.1rem 0.5rem 0 0;
}

.stock-top-options {
    float: right;
    font-size: 0;
    padding: 0 6rem 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
}

.stock-top-options a {
    font-size: 1.8rem;
    line-height: 2.4rem;
    display: inline-block;
    vertical-align: top;
    padding: 1rem 2rem 1rem 2rem;
    color: #bbbbbb;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    position: relative;
}

.stock-top-options a.current {
    color: #111213;
    background: #b7b7bb;
}

.stock-top-options a.current:after {
    display: block;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.75rem 0.75rem 0 0.75rem;
    border-color: #b7b7bb transparent transparent transparent;
    left: 50%;
    bottom: 0;
    margin: 0 0 -0.5rem -0.375rem;
    transition: all 0.3s ease 0s;
}

.stock-top-options a:hover {
    background: #232425;
    color: #c9c9cf;
}

.stock-top-options a .stock-top-option-icon {
    display: inline-block;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    fill: #4b4b4d;
    padding: 0.1rem 0.4rem 0 0;
    transition: all 0.3s ease 0s;
}

.stock-top-options a.current .stock-top-option-icon {
    fill: #111213;
}

.stock-top-options a:hover .stock-top-option-icon {
    fill: #c9c9cf;
}

.stock-top-options a.current:hover:after {
    border-color: #232425 transparent transparent transparent;
}

.stock-top {
    padding: 3.2rem 0 0 3.8rem;
    background: #161618;
    height: 13.8rem;
    box-sizing: border-box;
    position: relative;
}

.stock-top-numbers {
    padding: 0.5rem 0 0 2.6rem;
}

.stock-top-numbers div:nth-child(2) {
    padding: 0.2rem 0 0 0.2rem;
}



/* ------------------------------------------------------------------------------------------------------------------ */

.info-overlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #1a1a1c;
    position: absolute;
    display: none;
    z-index: 9999;
}


.stock-info {
    padding: 4rem;
}

.stock-commons > div {
    display: inline-block;
    vertical-align: middle;
}

.stock-symbol {
    font-size: 5rem;
    color: #8e8e92;
    line-height: 2.6rem;
    font-weight: 300;
}

.stock-price {
    font-size: 2.6rem;
    color: #8e8e92;
    margin-left: 4rem;
    line-height: 1em;
}

.stock-price span {
    font-size: 1.3rem;
    color: #606162;
    display: block;
}

.stock-trade {
    color: #606162;
    font-size: 1.3rem;
    margin-left: 4rem;
}

.stock-last-trade.up {
    color: #66bb62;
}

.stock-last-trade.down {
    color: #f53848;
}



.stock-details {
   
}

.stock-details span {
    display: block;
    clear: both;
    font-size: 1.4rem;
    color: #606162;
    padding: 10px 0;
}

.stock-details span:before {
    float: left;
    width: 0;
    white-space: nowrap;
    color: #272829;
    content:
        "_______________________________________________ ";
}

.stock-details em {
    font-style: normal;
}

.stock-details em:first-child {
    padding-right: 0.33em;
    background: rgb(26, 26, 28);
}

.stock-details em + em {
    float: right;
    padding-left: 0.33em;
    background: rgb(26, 26, 28);
    width: 11rem;
}

.stock-description {
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 1rem 0;
}

.stock-feed {
    margin-top: 3rem;
    border-top: solid 1px #1f1f21;
    padding: 3rem 0;
}

.stock-feed > div {
    padding: 1rem 2rem;
}

.stock-feed > div:hover {
    background-color: #232425;
}

.stock-feed span {
    display: block;
    font-size: 1.3rem;
    color: #606162;
    margin-top: 1rem;
}

.stock-feed a {
    font-size: 1.5rem;
    color: #ffffff;
}
.stock-feed a:hover {
    text-decoration: none;
}

.stock-info-close {
    font-size: 1.8rem;
    color: #8e8e92;
    line-height: 1.8rem;
}

.stock-info-close .close {
    width: 1.6rem;
    height: 1.6rem;
    fill: #8e8e92;
    float: left;
    margin-right: 1rem;
}

.stock-info-close:hover {
    text-decoration: none;
    color: #fff;
}

.stock-info-close:hover .close {
    fill: #fff;
}

.switch-style-container {
    padding-left: 3.8rem;
}

.switch-style {
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: #8e8e92;
    display: inline-block;
    padding: 0.9rem 0.7rem 0.9rem 0.7rem;
    text-decoration: none;
    transition: all 0.3s;
}

.switch-style.current {
    background: #111213;
    text-decoration: none;
}

.switch-style:hover {
    background: #232425;
    color: #c9c9cf;

}
.switch-style:active {
    text-decoration: none;
}
