.faq-desc .container {
    padding: 5rem 0 7.8rem 0;
    box-sizing: border-box;
}

.faq-desc-header {
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 300;
    color: #dcdedf;
}

.faq-desc-text {
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #8e8e92;
}

.faq-desc-text a {
    color: #dcdedf;
    text-decoration: none;
    transition: all 0.3s;
}

.faq-desc-text a:hover {
    color: #68686c;
}

.faq-links {
    background: #111213;
}

.faq-links .container {
    padding: 4.7rem 0 5.1rem 0;
    box-sizing: border-box;
}

.faq-links-left {

}

.faq-links-right {

    box-sizing: border-box;
}

.faq-links-left a,
.faq-links-right a {
    color: #dcdedf;
    text-decoration: none;
    position: relative;
    display: block;
    font-size: 1.5rem;
    line-height: 2.4rem;
    padding: 0.7rem 0 0.3rem 3rem;
    transition: all 0.3s;
}

.faq-links-left a:hover,
.faq-links-right a:hover {
    color: #68686c;
}

.faq-links-left a .icon,
.faq-links-right a .icon {
    display: block;
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    fill: #dcdedf;
    left: 0;
    top: 1rem;
    transition: all 0.3s;
}

.faq-links-left a:hover .icon,
.faq-links-right a:hover .icon {
    fill: #68686c;
}

.faq-answers .container {
    padding: 6rem 0 0 0;
    box-sizing: border-box;
}

.faq-answers-one h1 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 300;
    color: #c9c9cf;
    position: relative;
    margin: 0;
    padding: 0.1rem 0 0.8rem 5rem;
}

.faq-answers-one h1 .icon {
    width: 3rem;
    height: 3rem;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    fill: #c9c9cf;
}

.faq-answers-one-answer {
    padding: 0 0 5rem 5rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #8e8e92;
}

.faq-answers-one-answer p {
    margin: 0;
    padding: 0;
}

.faq-answers-one-answer a {
    color: #DCDEDF;
    transition: all 0.3s;
    text-decoration: none;
}

.faq-answers-one-answer a:hover {
    color: #68686C;
}

.faq-answers-contact {
    font-size: 2.1rem;
    line-height: 3rem;
    color: #8e8e92;
    border: 1px solid #262728;
    border-width: 1px 0 0 0;
    margin: 2.9rem 0 0 5rem;
    font-weight: 400;
    padding: 5.3rem 0 7.8rem;
}

.faq-answers-contact a {
    text-decoration: none;
    color: #dcdedf;
    transition: all 0.3s;
}

.faq-answers-contact a:hover {
    color: #68686c;
}