
.welcome-subscribe {
    background: #1a1a1c;
}

.welcome-subscribe-top {
    padding: 6.9rem 0 7.3rem 0;
}

.welcome-subscribe-bottom {
    padding: 6.9rem 0 8rem 0;
}

.welcome-subscribe-header {
    font-size: 5rem;
    line-height: 120%;
    color: #c9c9cf;
    text-align: center;
    font-weight: 300;
    padding: 0 17rem 6.7rem 17rem;
    float: none;
}

.welcome-subscribe-container {
    background: #111213;
    font-size: 0;
}

.welcome-subscribe-description {
    font-size: 2.1rem;
    line-height: 3.4rem;
    color: #dcdedf;
    font-weight: 300;
    box-sizing: border-box;
    padding: 2.9rem 4rem 2rem 6.5rem;
}

.welcome-subscribe-button-container {
    display: inline-block;
    vertical-align: top;
    background: #09090a;
    box-sizing: border-box;
    padding: 1rem 1.2rem 1rem 1.2rem;
}

.welcome-subscribe-button {
    font-size: 3rem;
    line-height: 3.4rem;
    padding: 3.1rem 0 3.5rem 0;
    text-align: center;
}

.welcome-subscribe-plans {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #8c8c8f;
    padding: 1.6rem 0.8rem 0.9rem 0.8rem;
}

.welcome-subscribe-plans b {
    color: #b7b7bb;
}

/* -- welcome menu
---------------------------------------------------------------------------*/

.welcome-menu {
    background: #1a1a1c;
    border: 1px solid #272829;
    border-width: 1px 0 0 0;
    text-align: center;
}

.welcome-menu .navbar {
    margin-bottom: 0;
}


.welcome-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    font-size: 0;
    white-space: nowrap;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.welcome-menu ul li {
    margin: 0;
  /*  padding: 0 1.7rem 0 1.6rem; */
    list-style: none;
    font-size: 0;
    display: inline-block;
}

.welcome-menu .navbar-default .navbar-nav>li>a {
    font-size: 1.6rem;
    line-height: 2rem;
    display: block;
    color: #8e8e92;
    font-weight: 300;
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
    padding: 1.9rem 0 2.1rem 0;

}

.welcome-menu ul li.active a {
    color: #ffffff;
}

.welcome-menu ul li a:after {
    content: '';
    display: block;
    height: 0;
    width: 98%;
    bottom: 0;
    left: 1%;
    position: absolute;
    background: #ffffff;
    transition: all 0.3s;

}

.welcome-menu .navbar-default .navbar-nav>li>a:hover,
.welcome-menu .navbar-default .navbar-nav>li>a:focus{
    color: #ffffff;
}

.welcome-menu ul li.active a:after,
.welcome-menu ul li a:hover:after {
    height: 0.3rem;
}

/* -- welcome slide
---------------------------------------------------------------------------*/

.welcome-slide {
    background: #111213;
    font-size: 0;
    padding: 6rem 0 6rem 0;
}

.welcome-slide:nth-child(even) {
    background: #1a1a1c;
}

.welcome-slide .max-width {

    box-sizing: border-box;
}

.welcome-slide-image-container {
    box-sizing: border-box;
    vertical-align: middle;
    padding: 0 7rem 0 0;
}

.welcome-slide-image-container img {
    width: 100%;
    height: auto;
}

.welcome-slide-text-container {
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 300;
    color: #dcdedf;
    vertical-align: middle;
}

.welcome-slide-text-container h1 {
    margin: 0;
    padding: 0 0 0 0;
    color: #dcdedf;
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: 300;
}

.welcome-slide-text-container p {
    margin: 0;
    padding: 2.2rem 0 0 0;
}


.sticky {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.welcome-menu {
    background: #1a1a1c;
    border: 1px solid #272829;
    border-width: 1px 0 0 0;
    text-align: center;
}

.welcome-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    font-size: 0;
    white-space: nowrap;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.welcome-menu ul li {
    margin: 0;
    /*  padding: 0 1.7rem 0 1.6rem; */
    list-style: none;
    font-size: 0;
    display: inline-block;
}

.welcome-menu ul li a {
    font-size: 1.6rem;
    line-height: 2rem;
    display: block;
    color: #8e8e92;
    font-weight: 300;
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
    padding: 1.9rem 0 2.1rem 0;

}

.welcome-menu ul li.active a {
    color: #ffffff;
}

.welcome-menu ul li a:after {
    content: '';
    display: block;
    height: 0;
    width: 98%;
    bottom: 0;
    left: 1%;
    position: absolute;
    background: #ffffff;
    transition: all 0.3s;

}

.welcome-menu ul li a:hover {
    color: #ffffff;
}

.welcome-menu ul li.active a:after,
.welcome-menu ul li a:hover:after {
    height: 0.3rem;
}


.welcome-menu .navbar-default {
    background-color: #1a1a1c;
    border: none;

}

.welcome-menu .navbar-default .navbar-nav>.active>a,
.welcome-menu .navbar-default .navbar-nav>.active>a:hover,
.welcome-menu .navbar-default .navbar-nav>.active>a:focus {
    color: inherit;
    background-color: transparent;
}