.user-settings {
    margin-top: 8rem;
}
.user-settings-row {
    padding: 3rem 0;
}

.user-settings-row > div {

}

.user-settings-label {

    font-size: 1.5rem;
    color: #8e8e92;
}
.user-settings-note {
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #606162;
}

/*
.user-settings-input {
    width: 30%;
    min-width: 30rem;
}

.user-settings-input .form-control {
    color: #8e8e92;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.9rem;
    width: 30rem;
    border: 1px solid #48484a;
    margin: 0;
    background: transparent;
    padding: 0.5rem 0.8rem 0.9rem 0.7rem;
    display: inline-block;
    vertical-align: top;
    border-radius: 0;
    margin-bottom: 1rem;
}

.user-settings-input .form-control:focus {
    border-color: #dcdedf;
}

.user-settings-input .form-control::-webkit-input-placeholder {color:#606162;}
.user-settings-input .form-control::-moz-placeholder          {color:#606162;}
.user-settings-input .form-control:-moz-placeholder           {color:#606162;}
.user-settings-input .form-control:-ms-input-placeholder      {color:#606162;}
*/

/*
.switch {
    padding: 0.8rem 2rem 1rem 2rem;
    color: #b7b7bb;
    text-decoration: none;
    transition: all 0.3s;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    text-decoration: none;
}

.switch.current {
    color: #1a1a1c;
    background: #b7b7bb;
}

.switch:hover {
    background: #232425;
    color: #C1C1C7;
    text-decoration: none;
}
*/

.settings-subscribe-plans {
    font-size: 0;
    margin-top: 1rem;
    margin-bottom: 8rem;
}

.settings-subscribe-plans-plan {
    background: #111213;
    text-decoration: none;
    transition: all 0.3s;
    box-sizing: border-box;
    padding: 2.9rem 1.8rem 0 1.8rem; 
    cursor: pointer;
    position: relative;
}

.settings-subscribe-plans-plan span {
    transition: all 0.3s;
    vertical-align: middle;
}

.settings-subscribe-plans-plan-length {
    font-size: 1.8rem;
    line-height: 2rem;
    color: #8e8e92;
}

.settings-subscribe-plans-plan-save {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #79bb1b;
    padding-top: 0.3rem;
}

.settings-subscribe-plans-plan-price {
    font-size: 4.8rem;
    line-height: 5rem;
    color: #c9c9cf;
    font-weight: 300;
   padding-top: 0.2rem;
}

.settings-subscribe-plans-plan-montly {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #8e8e92;
      padding-top: 2.1rem;
}

.settings-subscribe-plans-plan-select {
    font-size: 1.8rem;
    line-height: 2rem;
    color: #606162;
    padding-top: 2rem;
    padding-bottom: 0.2rem;
    text-align: center;
    opacity: 0;
}



.settings-subscribe-plans-plan-link.button-dark {
    display:none;
}

.settings-subscribe-plans-plan-link:hover {
    color: #b7b7bb;
    text-decoration: none;
}



.settings-subscribe-plans-plan:hover .settings-subscribe-plans-plan-length,
.settings-subscribe-plans-plan:hover .settings-subscribe-plans-plan-price,
.settings-subscribe-plans-plan:hover .settings-subscribe-plans-plan-montly {
    color: #ffffff;
}

.settings-subscribe-plans-plan:hover .settings-subscribe-plans-plan-select {
    opacity: 1;
}

.settings-subscribe-plans-plan.selected .settings-subscribe-plans-plan-select {
    height: 0;
}

.settings-subscribe-plans-plan.selected {
    background-color: #b7b7bb;
}

.settings-subscribe-plans-plan.selected .settings-subscribe-plans-plan-link {
    display: block;
}





.settings-subscribe-plans-plan.selected:hover .settings-subscribe-plans-plan-select {
    opacity: 0;
}

.settings-subscribe-plans-plan.selected .settings-subscribe-plans-plan-length,
.settings-subscribe-plans-plan.selected .settings-subscribe-plans-plan-price,
.settings-subscribe-plans-plan.selected .settings-subscribe-plans-plan-montly {
    color: #1a1a1c;
} 

.settings-subscribe-terms {

}

.settings-subscribe-terms-header {
    font-size: 1.8rem;
    color: #c9c9cf;
    margin-bottom: 1.8rem;
}

.settings-subscribe-terms-text {
    font-size: 1.3rem;
    color: #8e8e92;
    line-height: 2.2rem;
}

.settings-subscribed {
    margin-top: 8rem;
}

.settings-subscribed-icon {
    display: inline-block;
    vertical-align: middle;
    fill: #79bb1b;
}

.settings-subscribed-status {
    display: inline-block;
    vertical-align: middle;
    color: #79bb1b;
    font-weight: 600;
    font-size: 1.8rem;
    margin-left: 10px;
}

.settings-subscribed-dates {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.8rem;
    color: #606162;
    margin-left: 10px;
}

.settings-subscribed-renewal {
    margin-top: 3rem;
}

.settings-subscribed-renewal span {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    color: #8e8e92;
    margin-right: 2rem;
}

.settings-subscribed-renewal-next {
    font-size: 1.1rem;
    color: #606162;
    margin-top: 1rem;
}

.settings-subscribed .settings-subscribe-terms {
    margin-top: 5rem;
}

.switch-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 36px;
    width: 100px;
    padding: 0;
}

.switch-container * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.switch-container.long {
    width: 250px;
}

.switch-container .switch-drag {
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    top: 0;
    background-color: #b7b7bb;
    transition: all 0.3s;
    margin: 0;
    z-index: 1;
}

.switch-container.on .switch-drag {
    left: 0;
}

.switch-container.off .switch-drag {
    left: 50%;
}



.switch-container a {
    position: relative;
    width: 50%;
    display: inline-block;
    padding: 0.8rem 0 1rem 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    text-decoration: none;
    z-index: 2;
}

.switch-container a:last-child {
    margin-left: -3px;
}

.switch-container.on a {
    color: #1a1a1c;
}

.switch-container.on a:last-child {
    color: #b7b7bb
}

.switch-container.off a {
    color: #b7b7bb
}

.switch-container.off a:last-child {
    color: #1a1a1c;
}


@media (min-width: 550px) {
    .settings-subscribe-plans-plan {
        padding: 1rem 0;
    }

    .settings-subscribe-plans-plan-select {
        display: none;
    }
    
    .settings-subscribe-plans-plan-price {
        font-size: 4rem;
    }

    .settings-subscribe-plans-plan-save {
        font-size: 1rem;
    }

    .settings-subscribe-plans-plan-link {
        height: 5rem;
        font-size: 1.7rem;
        padding-top: 1.2rem;

    }

}

@media (min-width: 1200px) {
    .settings-subscribe-plans-plan-select {
        display: block;
    }

    .settings-subscribe-plans-plan {
        padding: 2.9rem 1.8rem 0 1.8rem; 
    }

    .settings-subscribe-plans-plan:hover {
        padding: 3.4rem 1.8rem 0.5rem 1.8rem;
        margin: -0.5rem 0 -0.5rem 0;
    }

    .settings-subscribe-plans-plan-link {
        position: absolute;
        bottom: -7.5rem;
        width: 100%;
        height: 6rem;
        left: 0;
        color: #b7b7bb;
        font-size: 1.8rem;
        text-align: center;
        padding: 1.8rem;
        transition: all 0.3s;
    }

    .settings-subscribe-plans-plan.selected:hover {
        margin: 0 0 0 0;
        padding: 2.9rem 1.8rem 0 1.8rem;
    }

    .settings-subscribe-plans-plan.selected:after {
        content: "";
        position: relative;
        width: 0;
        height: 0;
        border: solid 10px transparent;
        border-top-color: #b7b7bb;
        top: 20px;
        left: 50%;
        margin-left: -5px;
    }


}