.scroll {
    outline: none;
    height: 1000px;
}


.clear-watchlist {
    font-size: 1.5rem;
    color: #b7b7bb;
}

.clear-watchlist:hover {
    color: #b7b7bb;
}


.divergence-separator {
    font-size: 1.8rem;
    color: #8e8e92;
    pointer-events: none;
    margin: 2.3rem 0;
}

.divergence-separator b {
    font-weight: 300;
    color: #c9c9cf;
}

.scroll .jspVerticalBar {
    width: auto;
}

.scroll .jspDrag {
    background: #606063;
}

.scroll .jspTrack {
    background: transparent;
}

.scroll .jspVerticalBar {
    background: transparent;
    top: 0;
    right: 4px;
    opacity: .7;
    transition: all 0.3s;
}

.scroll:hover .jspVerticalBar {
    opacity: 1;
}